<div id="mic-check">
  <audio class="method-direct" id="direct-mp3" preload="none" src="/api/mic-check/direct.mp3"></audio>
  <audio id="transcode-mp3" preload="none" src="/api/mic-check/transcode.mp3"></audio>
  <audio class="method-direct" id="direct-ogg" preload="none" src="/api/mic-check/direct.ogg"></audio>
  <audio id="transcode-ogg" preload="none" src="/api/mic-check/transcode.ogg"></audio>
  <audio class="method-direct" id="direct-aac" preload="none" src="/api/mic-check/direct.aac"></audio>
  <audio id="transcode-aac" preload="none" src="/api/mic-check/transcode.aac"></audio>
  <audio class="method-direct" id="direct-opus" preload="none" src="/api/mic-check/direct.opus"></audio>
  <audio id="transcode-opus" preload="none" src="/api/mic-check/transcode.opus"></audio>
  <audio class="method-direct" id="direct-webm" preload="none" src="/api/mic-check/direct.webm"></audio>
  <audio id="transcode-webm" preload="none" src="/api/mic-check/transcode.webm"></audio>
  <audio class="method-direct" id="direct-wma" preload="none" src="/api/mic-check/direct.wma"></audio>
  <audio id="transcode-wma" preload="none" src="/api/mic-check/transcode.wma"></audio>
  <audio class="method-direct" id="direct-mp4" preload="none" src="/api/mic-check/direct.mp4"></audio>
  <audio id="transcode-mp4" preload="none" src="/api/mic-check/transcode.mp4"></audio>
  <audio class="method-direct" id="direct-mp2" preload="none" src="/api/mic-check/direct.mp2"></audio>
  <audio id="transcode-mp2" preload="none" src="/api/mic-check/transcode.mp2"></audio>
  <audio class="method-direct" id="direct-flac" preload="none" src="/api/mic-check/direct.flac"></audio>
  <audio id="transcode-flac" preload="none" src="/api/mic-check/transcode.flac"></audio>
  <audio class="method-direct" id="direct-wav" preload="none" src="/api/mic-check/direct.wav"></audio>
  <audio id="transcode-wav" preload="none" src="/api/mic-check/transcode.wav"></audio>
</div>

<button class="btn btn-primary" {{action 'forceCheck'}}>Force Check</button>

{{yield}}
